/*
  CSS for plain To-do list.
  Created Feb 8, 2017.
  Updated for blog demo 23 Sept 2020.
  Updated for blog (form, save-message, et al) 7 June 2021.
  */

[todo] {
  display: block;
  padding: 1em;
  outline: 1px solid #eee;
  position: relative;
}

[data-template] {
  display: none;
}

[role="alert"] {
  display: none;
}

[open] {
  background-color: whitesmoke;
  border: 1px solid currentColor;
  border-radius: 0.25em;
  display: block;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.95;
  padding: 20% 2em;
  position: absolute;
  text-align: center;
  /* top: 0; */ /* leave top relative to the todo element */
  z-index: 100;
}

[handle="close"] {
  border: 1px solid #999;
  border-radius: 0.25em;
  margin-top: 2em;
  padding: 0.5em;
}

[handle] {
  background-color: gainsboro;  
  border: 1px outset gainsboro;
  border-radius: .25em;
  font-size: inherit;
  font-weight: inherit;
  height: 2em;
  margin: .05em .065em .065em;
  min-width: auto;
  padding: 0.15em 0.25em;

  /* prevent zoom on double tap in mobile */
  touch-action: manipulation;  
}

[name] {
  color: #00f;
  margin: 1px;
}

[name]:focus {
  outline: 1px dotted currentColor;
}

[value] {
  /* Value being edited, push subsequent siblings to next visual line. */
  width: 100%;
}

[readonly] {
  background-color: transparent;
  border: none;
  padding: 2px;

  /* default width of Value allows button siblings to ride on same visual line. */
  width: 25%;
}

[done] {
  text-decoration: line-through;
}

[empty] {
  display: none;
  font-style: italic;
}

[todo-list]:empty + [empty] {
  display: block;
}

[todo-list]:empty {
  display: none;
}

[todo-list] {
  list-style-type: none;
}

[item]:focus-within {
  background-color: rgb(240, 240, 240);
}

[todo-list] [item] {
  margin: unset;
}

[todo] * + *,
[todo-list] * + *,
[empty] * + * {
  margin: 0.15em 0 0.25em;
}
