/*
  CSS for plain To-do list.
  Created Feb 8, 2017.
  Updated for blog demo 23 Sept 2020.
  Updated for blog (form, save-message, et al) 7 June 2021.
  */

[todo] {
  display: block;
  padding: 1em;
  outline: 1px solid #eee;
  position: relative;
}

[data-template] {
  display: none;
}

[role="alert"] {
  display: none;
}

[open] {
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 0.25em;
  display: block;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.95;
  padding: 20% 2em;
  position: absolute;
  text-align: center;
  /* top: 0; */ /* leave top relative to the todo element */
  z-index: 100;
}

[close] {
  border: 1px solid #999;
  border-radius: 0.25em;
  margin-top: 2em;
  padding: 0.5em;
}

[name] {
  color: #00f;
  margin: 1px;
}

[name]:focus {
  outline: 1px dotted currentColor;
}

[readonly] {
  background-color: transparent;
  border: none;
  padding: 2px;
}

[done] {
  text-decoration: line-through;
}

[empty] {
  display: none;
  font-style: italic;
}

[todo-list]:empty + [empty] {
  display: block;
}

[todo-list]:empty {
  display: none;
}

[todo-list] {
  list-style-type: none;
  padding: 0;
}

[item]:focus-within {
  background-color: rgb(240, 240, 240);
}

[todo-list] [item] {
  margin: unset;
}
