{{ $nonce := .Scratch.Get "nonce" }}
  <meta http-equiv="Content-Security-Policy"
    content="base-uri 'none';
      object-src 'none';
      style-src-elem 'self' 'nonce-{{ $nonce }}';
      script-src-elem 'self' 'strict-dynamic' 'nonce-{{ $nonce }}';
			block-all-mixed-content;">
	<!-- keep for later
	 Content-Security-Policy = "default-src data: 'unsafe-inline' 'unsafe-eval' https:; 
	 script-src data: 'unsafe-inline' 'unsafe-eval' https: blob:;
	 style-src data: 'unsafe-inline' https:;
	 img-src data: https: blob:;
	 font-src data: https:;
	 connect-src https: wss: blob:;
	 media-src https: blob:;
	 object-src https:;
	 child-src https: data: blob:;
	 form-action https:;
	 block-all-mixed-content"
	-->
