{{ $baseUrl := (.Site.BaseURL | string) }}
{{ $hostUrls := "https://unpkg.com/" }}
{{ $nonce := (.Site.Params.CSP.Nonce | string) }}
<meta http-equiv="Content-Security-Policy"
  content="base-uri 'none';
    object-src 'none';
    style-src 'self' 'unsafe-inline' 'nonce-{{ $nonce }}' {{ $baseUrl }} {{ $hostUrls }};
    style-src-elem 'self' 'unsafe-inline' 'nonce-{{ $nonce }}' {{ $baseUrl }} {{ $hostUrls }};
    script-src 'self' 'unsafe-inline' 'strict-dynamic' 'nonce-{{ $nonce }}';
    script-src-elem 'self' 'unsafe-inline' 'strict-dynamic' 'nonce-{{ $nonce }}';">
