<header>
  {{- partial "banner.html" . -}}
  <nav nav="header">
    <a site-title href="/" aria-label="DFK Home page">{{ .Site.Title }}</a>
    <ul>
      <li><a href="/" aria-label="DFK Home page">Home</a></li>
      <li><a href="/about/" aria-label="About Me">About</a></li>
      <li><a href="/posts/" aria-label="My blog posts">Posts</a></li>
      <li><a href="/demos/" aria-label="My programming examples">Demos</a></li>
    </ul>
  </nav>

  <!--
  <h1 page-title>{{ .Page.Title }}</h1>
  -->
  <strong site-status>{{ .Site.Params.siteStatus }}</strong>
</header>
