<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.Name }}">
  <meta name="description" content="{{ .Scratch.Get "pageDescription" }}">
  <meta name="keywords" content="{{ if .Page.Params.Tags }}{{ delimit .Page.Params.Tags ", " }}{{ end}}">
  <meta name="robots" content="index, follow">

  {{- partial "content-security-policy.html" . -}}

  <!-- real favicon generator: https://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Open Graph -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ .Page.Title }}">
  <meta property="og:description" content="{{ .Scratch.Get "pageDescription" }}">
  <meta property="og:image" content="{{ .Scratch.Get "seoImage" }}">
  <meta property="og:url" content="{{ .Page.Permalink }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="David F. Kaye">
  <meta name="twitter:image" content="{{ .Scratch.Get "seoImage" }}">
  <meta name=”twitter:title” content="{{ .Page.Title }}">
  <meta name="twitter:url" content="{{ .Page.Permalink }}">
  <meta name=”twitter:description” content="{{ .Scratch.Get "pageDescription" }}">

  <link rel="canonical" href="{{ .Page.Permalink }}">

  {{- partial "rss.html" . -}}

  {{- partial "css.html" . -}}
</head>