{{ define "main" }}
<h1 id="main" page-title>{{ .Title }}</h1>

{{ if isset .Params "description" }}
<p id="page-description" page-description>{{ .Description }}</p>
{{ end }}

{{ .Content }}

<ul page-list>
  {{ range (.Paginator 7).Pages }}
  <li page-item>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    &middot;
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    &middot;
    <span reading-time>{{ .ReadingTime }} minute read</span>
    <article page-description><i>{{ .Description }}</i></article>
  </li>
  {{ end }}
</ul>

{{- partial "pagination.html" . -}}

{{ end }}