{{ define "main" }}
{{- partial "page-title.html" . -}}

<span reading-time>{{ .ReadingTime }} minute read</span>

<ul publish-date>
  <li>Publish Date:
    <time datetime="{{ .PublishDate }}" pubdate>{{ .PublishDate.Format "January 2, 2006, 15:04:01 MST" }}</time>
  </li>
  <li>Last Update:
    <time datetime="{{ .Lastmod }}" lastmod>{{ .Lastmod.Format "January 2, 2006, 15:04:01 MST" }}</time>
  </li>
</ul>

<article tag-terms>
  {{ range .Params.tags }}
  <a rel="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</article>

<p id="page-description" page-description>{{ .Description }}</p>

{{ .Content }}

<h2><i>Thanks for reading.</i></h2>

{{- partial "share-links.html" . -}}

{{ if eq .Type "posts" }}
{{- partial "prev-next-links.html" . -}}
{{ end }}

{{ end }}