{{ define "main" }}
  <h1 id="main" page-intro>{{ .Title }}</h1>
  <span reading-time>{{ .ReadingTime }} minute read</span>

  <ul publish-date>
    <li>Publish Date: <time datetime="{{ .PublishDate }}" pubdate>{{ dateFormat "January 2, 2006" .Date }}</time></li>
    <li>Last Update: <time datetime="{{ .Lastmod }}" lastmod>{{ dateFormat "January 2, 2006" .Date }}</time></li>
  </ul>

	<!-- https://gomakethings.com/how-to-create-accessible-subtitles/ -->
  <p role="doc-subtitle">{{ .Description }}</p>

  {{ .Content }}

  <strong><i>Thanks for reading.</i></strong>
{{ end }}
