{{ define "main" }}
{{- partial "page-title.html" . -}}

<ul publish-date>
  <li>Publish Date:
    <time datetime="{{ .PublishDate }}" pubdate>{{ .PublishDate.Format "January 2, 2006, 15:04:01 MST" }}</time>
  </li>
  <li>Last Update:
    <time datetime="{{ .Lastmod }}" lastmod>{{ .Lastmod.Format "January 2, 2006, 15:04:01 MST" }}</time>
  </li>
</ul>

{{ range .Params.tags }}
<a rel="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
{{ end }}

<!-- https://gomakethings.com/how-to-create-accessible-subtitles/ -->
<p id="page-description" page-description>{{ .Description }}</p>

{{ .Content }}

{{- partial "share-links.html" . -}}

{{- partial "prev-next-links.html" . -}}

{{ end }}