<div calculator role="application" tabindex="0">
  <output expression>expression</output>
  <output output>[ Calculator not initialized. ]</output>
  <output visually-hidden role="alert" aria-live="polite" aria-atomic="false"></output>
  <div keypad>
    <button value="percent" aria-label="Percent">%</button>
    <button value="clearentry" aria-label="Clear Entry">CE</button>
    <button value="clear" aria-label="Clear">C</button>
    <button value="backspace" aria-label="Backspace">&ltdot;</button>
    <button value="reciprocal" aria-label="Reciprocal">
      <i><sup>1</sup>/x</i>
    </button>
    <button value="square" aria-label="Square">
      <i>x<sup>2</sup></i>
    </button>
    <button value="squareroot" aria-label="Square Root">
      <i><sup>2</sup>&radic;x</i>
    </button>
    <div operators>
      <button value="divide" aria-label="Divide By">&divide;</button>
      <button value="multiply" aria-label="Multiply By">&times;</button>
      <button value="plus" aria-label="Plus">&plus;</button>
      <button value="minus" aria-label="Minus">&minus;</button>
      <button value="equals" aria-label="Equals">&equals;</button>
    </div>
    <div numbers>
      <button value="0">0</button>
      <button value="1">1</button>
      <button value="2">2</button>
      <button value="3">3</button>
      <button value="4">4</button>
      <button value="5">5</button>
      <button value="6">6</button>
      <button value="7">7</button>
      <button value="8">8</button>
      <button value="9">9</button>
      <button value="decimal" aria-label="Decimal Separator">.</button>
      <button value="negate" aria-label="Positive-Negative"><sup>+</sup>/-</button>
    </div>
  </div>
</div>