/* mocha-css-override */

#mocha {
	border-top: 1px solid deepskyblue;
	border-bottom: 1px solid deepskyblue;
	margin: unset;
	padding: .5em .25em .75em;
}

#mocha-stats {
	position: relative;
	top: unset;
	right: unset;
	padding-bottom: .5em;
	text-align: right;
}

#mocha .test pre {
	background-color: rgba(242, 242, 242, 1);
}

#mocha .test code {
	background-color: inherit;
	font-size: calc(1em + .25vw);
}

#mocha code .comment {
	color: #666;
}
