/* mocha-css-override */

#mocha {
	border-top: 1px solid deepskyblue;
	border-bottom: 1px solid deepskyblue;
	margin: unset;
	padding: .5em unset .75em;
}

#mocha #mocha-stats {
	position: relative;
	top: unset;
	right: unset;
	margin-top: 1em;
	padding-bottom: .5em;
	text-align: right;
}

#mocha .suite,
#mocha .test {
	margin-left: .25em;
}

#mocha .test pre {
	background-color: rgba(242, 242, 242, 1);
	width: 100%;
}

#mocha .test code {
	background-color: inherit;
}

#mocha code .comment {
	color: #666;
}
